<html>
    <header> 
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <!-- Jquery -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="/jquery/login.js"></script>
        <title>Login</title>
 
    </header>
    <body>
        <!-- <div  class="w-100 d-flex flex-column align-items-center pb-3">
            <div class="w-25 mt-5">
            <h2>Login</h2>
            <input class="form-control mt-3 username" type="text" placeholder="please type your username">
            <input class="form-control mt-3 password" type="password" placeholder="please type your password">

            <button class="btn btn-sm btn-primary mt-2 w-100 login">Login</button>
            </div>

        </div> -->
        <div class="container shadow d-flex justify-content-center flex-column w-25 p-3 " style="margin-top: 200px;" >
            <input type="text " class="mt-4 form-control email "   placeholder="Please type the email name ">
            <input type="password" class="mt-4 form-control pass "  placeholder="Please type type the password "> 
            <button type="button"  class="btn btn-primary mt-2  login">Login</button>
          </div>

        
    </body>
</html>